@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
	font-family: 'Mohave', sans-serif;
}
